booleano==1.1a2
brotli==1.0.9
brotlipy==0.7.0
configparser==3.5.0
cryptography==3.1.1
Cython==0.29.21
django_recaptcha==3.0.0
dl==0.1.0
HTMLParser==0.0.2
importlib_metadata==4.11.1
ipaddr==2.2.0
keyring==21.4.0
lockfile==0.12.2
lxml==4.6.1
mypy_extensions==0.4.3
numpy==1.22.2
ordereddict==1.1
osgeo==0.0.1
protobuf==4.21.1
pyOpenSSL==22.0.0
pywin32==227
Shapely==1.8.2
sphinx_rtd_theme==1.0.0
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.4.0
