{% extends "web/base.html" %}
{% load static %}
{% block main_body %}
                <!--            写一下文艺点的就好-->
<!--                <section class="banner-area">-->
<!--                    <div class="container">-->
<!--                        <div class="row">-->
<!--                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </section>-->

            <section class="about-banner relative">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                About
                            </h1>
                            <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About</a></p>
                        </div>
                    </div>
                </div>
            </section>

                <section class="home-about-area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 home-about-left">
                                <h4>About Our</h4>
                                <div class="about-restaurant">
                                    <h1>RESTAURANT</h1>
                                </div>
                                <p>
                                    Taste of unlimited menu fulfilled with incredible
                                    culinary pleasures. Taste of author 's cocktails
                                    that will immerse you in the Caribbean temperament.
                                    Taste of true bliss of rhythm and mood, which will
                                    banish all prosaic thoughts and will add color to your
                                    everyday life! One Love! One Heart! Let's get together
                                    and feel all...
                                </p>
                                <a href="menu.html" class="primary-btn">view full menu</a>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 home-about-right">
                                <img class="img-fluid img-about" src="img/specialities/specialities1.png" alt="">
                            </div>
                        </div>
                    </div>
                </section>
{% endblock %}