{% extends "web/base.html" %}
{% block main_body %}
                    {% if message %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}</div>
                    {% endif %}
                    {% if info %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ info }}</div>
                    {% endif %}
    <section class="contact-page-area section-gap">
            <div class="container">
        <div class="col-md-6 col-md-offset-6">
            <form action="{% url 'send_email' %}" method="get" >
                {% csrf_token %}
                <div class="form-group">
                    <label>您的邮箱：</label>
                     <input type="text" name="email" class="form-control" placeholder='{{ request.session.email }}' />
                </div>
                <button type="submit" class="btn btn-primary">发送验证码</button>
            </form>
            <div class="form-group"></div>
                <form action="{% url 'send_email' %}" method="post" >
                    {% csrf_token %}
                <div class="form-group">
                <input type="hidden" name="email" class="form-control" value="{{ request.session.email }}" />
                    <label>您的验证码：</label>
                <input type="text" class="form-control" name="email_code">
                </div>
                    {% if request.session.email_code %}
                            <button type="submit" class="btn btn-primary pull-left">提交</button>

                    {% else %}
                            <button type="reset" class="btn btn-primary pull-left">-提交-</button>

                    {% endif %}
                </form>
        <a href="{% url 'email_send' %}"><button class="btn btn-primary pull-right">重置</button></a>
        </div>
            </div>

        </section>
{% endblock %}
{#{% block loadjavascript %}#}
{#<script type="text/javascript">#}
{#    $('#verify').click(function () {#}
{#        $.ajax({#}
{#            type:'GET',#}
{#            url:'/send_email/',#}
{#            data:{'email':$('#email').val()},#}
{#            success:function (result) {#}
{#                alert('发送成功！');#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}
{#{% endblock %}#}
